h1, h2, h3, h4 {
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    /*align-items: stretch;*/
}

#sidebar {
    width: 135px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #333333;
    color: #9d9d9d;
    box-shadow: 5px 0 10px -3px #000302;
    transition: all 0.3s;
}

#header {
    margin-bottom: 45px;
    text-align: center;
}

#content {
    width: calc(100% - 135px);
    padding: 10px 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#sidebar.active {
    margin-left: -135px;
}

#content.active {
    width: 100%;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -135px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

body {
    font-family: 'Tahoma', sans-serif;
    background: #1a1a1a;
}


#sidebar .sidebar-header {
    padding: 10px 30px;
}

#sidebar .sidebar-header #top-sidebar-button{
    border: none;
    background: none;
    width: 100%;
    height: 50px;
}

.flex {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.components {
    width: 100%;
}

#sidebar ul li a{
    color: #ffffff;
    padding: 17px 0;
    font-size: 1.1em;
    display: block;
    text-align: center;
}
#sidebar ul li a:nth-child(odd) {
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
}

#top-sidebar-button {
    position: relative;
}

#sidebar div:not(:nth-child(1)) .icon-switcher {
    position:relative;
    height: 100px;
}

.icon-switcher img {
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 60%;
}

.icon-switcher img.second-image {
    opacity:0;
    filter:alpha(opacity=0);
}

a:hover img.second-image, .icon-switcher:hover img.second-image {
    opacity:1;
    transition: 0.3s;
}
a:hover img.first-image, .icon-switcher:hover img.first-image {
    opacity:0;
    transition: 0.3s;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul li a:hover {
    color: #ff2f2f;
    background: #484848;
}

#sidebarExpand {
    position: fixed;
    z-index: 999;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    background: #333333;
    margin-top: 10px;
    transition: 0.3s;
    width: 80px;
    height: 30px;
}
#sidebarExpand img {
    width: 30%;
}

/*view - info*/
.title {
    margin-bottom: 43px;
}
.title h1 {
    text-align: center;
    color: #d0cfcf;
    font-size: 54px;
}

.page-content {
    margin: 0 auto;
    width: 70vw;
    background: #333333;
    opacity: 0.5;
}
.page-content:nth-last-child(1){
    padding-bottom: 40px;
}

.container {
    padding: 0;
    width: 90%;
    color: #bcbcbc;
}
.container h2{
    margin-top: 35px;
    font-size: 50px;
}
.container h3{
    margin-top: 35px;
    font-size: 48px;
}
.container p {
    font-size: 24px;
}
.container hr {
    background: #bcbcbc;
    height: 1px;
}
.container ul {
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    padding: 12px 26px;
    list-style-type: none;
    font-size: 22px;
}
/**/

/*view - settings*/
.option-field {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #d0cfcf;
    margin-top: 10px;
}

.option-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 450px;
    background: #333333;
}
.option-title h3 {
    text-align: center;
    font-size: 25px;
}

.option-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 80px;
    background: #333333;
    margin-left: 10px;
}
.option-body input {
    width: 550px;
    margin-left: 30px;
    height: 45px;
    background: #c2c2c2;
    border: none;
    color: black;
    padding: 0 10px;
}

.icons_container{
    width: 197px;
}

#check_connection_button {
    position: relative;
    height: 40px;
    width: 50px;
    border: 2px solid black;
    border-radius: 5px;
    background: #333333;
    margin-left: 10px;
    transition: 0.3s;
}
#check_connection_button:hover {
    background: #484848;
}
#check_connection_button img{
    height: 80%;
}

#save_settings_button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 35px auto;
    background: #333333;
    color: #fff;
    border: none;
    width: 150px;
    height: 60px;
    transition: 0.3s;
}
#save_settings_button:hover {
    background: #484848;
}
#save_settings_button h4 {
    margin-left: 9px;
}
/**/